header {
  align-items: center;
  background-color: #000;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
  display: flex;
  padding: 10px 30px;

  h1 {
    font: 30px/40px 'The Message';
  }

  nav {
    margin-left: auto;

    a + a {
      margin-left: 10px;
    }
  }
}

main {
  padding: 30px;
}
